<%= turbo_frame_tag dom_id(task) do %>
  <li class="<%= task.complete? ? 'completed' : 'view' %>">
    <div class="view">
      <%= button_to task_complete_index_path(task, task: { complete: task.complete? ? '0' : '1' }), method: :post, form_class: "toggle #{task.complete? ? 'complete' : ''}" do %><% end %>
      <label><%= task.body %></label>
      <%= button_to task_path(task), method: :delete, class: "destroy" do %><% end %>
    </div>
    <input class="edit" value="<%= task.body %>">
  </li>
<% end %>
