<li class="<%= task.complete? ? 'completed' : 'view' %>" id="<%= dom_id task %>">
  <div class="view">
    <%= form_with model: task, data: { controller: 'auto-submit' } do |f| %>
      <%= f.check_box :complete, { class: 'toggle', data: { action: 'change->auto-submit#submit' }, id: "#{dom_id task}_complete" } %>
      <label><%= task.body %></label>
    <% end %>
    <%= button_to task_path(task), method: :delete, remote: true, class: "destroy" do %>
    <% end %>
  </div>
  <input class="edit" value="<%= task.body %>">
</li>
