<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <%= render partial: "form" %>
  </header>
  <section class="main" style="display: block;">
    <%= turbo_stream_from "tasks" %>
    <%= render partial: "tasks/complete_all", locals: { all_complete: @all_complete } %>
    <ul class="todo-list">
      <%= turbo_frame_tag "tasks" do %>
        <%= render @tasks %>
        <li class="completed">
          <div class="view">
            <input class="toggle" type="checkbox" checked="">
            <label>These are just samples!!!</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="asdfasdf">
        </li>
      <% end %>
    </ul>
  </section>
  <footer class="footer" style="display: block;">
    <%= render partial: 'tasks/items_left', locals: { incomplete_items_count: @incomplete_items_count } %>
    <ul class="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>

    <%= render partial: "tasks/clear_complete", locals: { complete_count: @complete_count } %>
  </footer>
</section>
